<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076596954735-omthr1l92svgqnoops96dkq43u9lp94s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076596954735-omthr1l92svgqnoops96dkq43u9lp94s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1076596954735-hrbi12akkvueajdtqsfcm6i773cbec24.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjmT4h-DJgiE1eU9u5_A3znCYO7qBN8H4</string>
	<key>GCM_SENDER_ID</key>
	<string>1076596954735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banjoza.globalguide</string>
	<key>PROJECT_ID</key>
	<string>globalguide-da669</string>
	<key>STORAGE_BUCKET</key>
	<string>globalguide-da669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076596954735:ios:f46cc42458c279913f5f9a</string>
</dict>
</plist>